*:focus {
    outline: none;
}
html, body {
    font-family: Cantarell;
    padding: 0px;
    margin: 0px;
    height: 100%;
}
body {
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    min-width: 800px;
    width: 100%;
    
    -webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
}

section {
    max-width: 600px;
    height: 100%;
    margin: auto;
}

header {
    font-weight: bold;
    font-size: 36pt;
}

article {
    padding-bottom: 50px;
    line-height: 30px;
    margin-top: 22px;
    min-height: 90%;
    font-size: 16pt;
}

.light {
    background: #fdfcf7;
    color: #111;
}

.dark {
    background: #111;
    color: #fefefe;
}

.text-format {
	position: fixed;
	padding: 20px;
	width: 30px;
	bottom: 0px;
	left: 0px;
	top: 0px;
}

.text-format button:hover {
    opacity: 1;
}

.text-format button {
    -webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
    
    font-family: inherit;
    background: none;
    cursor: pointer;
    font-size: 18pt;
    color: inherit;
    opacity: 0.1;
    padding: 0px;
    height: 32px;
    width: 25px;
    border: 0px;
}

.misc-buttons {
    position: fixed;
    padding: 10px;
    width: 60px;
    bottom: 0px;
    left: 0px;
}

.misc-buttons button {
    -webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
    
    font-family: inherit;
    background: none;
    cursor: pointer;
    font-size: 18pt;
    color: inherit;
    opacity: 0.1;
    padding: 0px;
    height: 32px;
    width: 25px;
    border: 0px;
}

.misc-buttons button:hover {
    opacity: 1;
}