*:focus {
    outline: none;
}
html, body {
    font-family: Cantarell;
    padding: 0px;
    margin: 0px;
    height: 100%;
}
body {
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    min-width: 800px;
    width: 100%;
}

section {
    max-width: 600px;
    height: 100%;
    margin: auto;
}

header {
    font-weight: bold;
    font-size: 36pt;
}

article {
    padding-bottom: 50px;
    line-height: 30px;
    margin-top: 22px;
    min-height: 90%;
    font-size: 16pt;
}

.light {
    background: #fefefe;
    color: #111;
}